@font-face {
  font-family: "Roboto Condensed";
  src: url("asset:///fonts/RobotoCondensed.ttf");
}

@font-face {
  font-family: "Material Symbols";
  src: url("asset:///fonts/MaterialSymbols.ttf");
}

:root {
  --primary-text: #e6e0e9;
  --secondary-text: #938f99;
}

.App {
  background-color: #141218;
}

.wrapper-mobile {
    height: 100vh;
    padding-top: 200px; /* avoid front camera and other display occlusions  */
    padding-bottom: 10px; /* avoid nav bar pill */
}

.wrapper-wear {
    height: 100vh;
}

text {
  /* biome-ignore lint/a11y/useGenericFontNames: The font is explicitly loaded */
  font-family: "Roboto Condensed";
}

text.primary {
  color: var(--primary-text);
}

text.secondary {
  color: var(--secondary-text);
}

text.icon {
  /* biome-ignore lint/a11y/useGenericFontNames: The font is explicitly loaded */
  font-family: "Material Symbols";
}
